stanford-parser/*
!stanford-parser/.gitkeep

input-sentences/**/*.txt
!input-sentences/.gitkeep
!input-sentences/whole-files/.gitkeep

parser-trees/*
!parser-trees/.gitkeep

exp-layouts/*
!exp-layouts/.gitkeep

*.zip
ids.txt